.git
.gitignore
.github

data
tests

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

requirements-dev.txt

Dockerfile.broken-*
*.backup-*
*.bak
*.tmp

.env
.env.*
!.env.example

README*
LICENSE*
